@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:ital,wght@0,100;1,100&display=swap');

body{
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
margin: 0;
padding: 0;
}


/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 165px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #deebf7;
    border-left: #9ecae1 5px solid;
    overflow-x: hidden; 
    padding-top: 20px;
    text-align: center;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: underline;
    font-size: 25px;
    color: #3a3a3a;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #4e4e4e;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  /* When height is smaller than 450 pixels the style of sidebar changes */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.box{
margin: 5% 1% 5% 1%;
width: 220px;
height: 210px;
background: #deebf7;
border-left: #9ecae1 5px solid;
display: flex;
}

.name{
display: none;
}

img{
width: 50px;
padding: 5px 15px 0 15px;
}

h4{
text-align: center;
word-wrap: break-word;
width: 65px;
font-size: 18px;
font-weight: 500;
padding-left: 15px;
}

.information h3{
padding-top: 15px;
font-size: 16px;
width: 130px;
word-wrap: break-word;
}

.top{
margin: 0;
padding-top: 10px;
font-weight: 500;
}

.bottom{
margin: 0;
padding-bottom: 10px;
font-weight: 400;
}

.contact{
float: right;
margin: 25px 30px 0 0;
width: 40%;
}

.contact h3{
font-weight: 400;
font-size: 20px;
text-align: right;
}

.contact ul{
list-style-type: none;
text-align: right;
}

.contact a{
color: black;
}
#hamburger{
display: none;

}


/* 1000 PIXLAR */

@media only screen and (max-width: 1000px){
.box {
    margin: 3% 1.5% 3% 1.5%;
    width: 300px;
    height: 200px;
}
.img_and_h4{
    width: 120px;
}
img{
    width: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h4{
    text-align: center;
    word-wrap: break-word;
    width: 120px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0;
}
.information h3{
    padding-top: 15px;
    font-size: 16px;
    width: 180px;
    word-wrap: break-word;
}
#hamburger{
    display: none;
    
}
}

/* 651 PIXLAR */
/*
@media only screen and (max-width: 651px){
.box {
    margin: 3% 3% 3% 3%;
    width: 300px;
    height: 200px;
}
}

*/


/* 650 PIXLAR */

@media only screen and (max-width: 650px){

.box {
    position: relative;
    margin: 3% 3% 3% 3%;
    width: 330px;
    height: 200px;
    align-self: center;
    display: inline-block;
    text-align: center;
}
.name{
    display: none;
}

.img_and_h4{
    display: inline-block;
}

img{
    display: none;
}

.img_and_h4 h4{
    word-wrap: break-word;
    display: inline-block;
    margin: 25px 0 15px 0;
}

.top{
    text-align: center;
}

.bottom{
    text-align: center;
}

.information{
    text-align: center;
}

.information h3{
    width: 300px;
    font-size: 16px;
    word-wrap: break-word;
    display: inline-block;
    padding-top: 5px;
}

#hamburger{
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
}

@media print {

body{
    font-family: 'Ibarra Real Nova', serif;
    margin: 0;
    padding: 0;
}

.box{
    margin: 0 2px 0 2px;
    width: 300px;
    height: 210px;
    background: none;
    border-radius: 10px;
    border: black 2px solid;
    align-self: center;
    display: inline-block;
    text-align: center;
}

.name{
    display: inline;
    font-weight: 700;
}

img{
    display: none;
}

h4{
display: none;
}

.information{
    text-align: center;
    padding-top: 40px;
}

.information h3{
    padding-top: 10px;
    font-size: 16px;
    width: 300px;
    word-wrap: break-word;
    display: inline-block;
}

.top{
    margin: 0;
    padding-top: 0;
    font-weight: 700;
    text-align: center;
}

.bottom{
    margin: 0;
    padding-bottom: 0;
    font-weight: 400;
    text-align: center;
}

#hamburger{
    display: none;
}
}